/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    text-align: center;
    background: #f1f1f1;
}

h1 {
    font-size: 1.25em;
    padding-left: 20px;
    color: white;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    width: 100%;
    display: block;
    background: #262626;
    text-align: left;
}

.content > h2 {
    padding-top: 1em;
    font-size: 2em;
    font-family: sans-serif;
}

.content {
    background: white;
    width: 80%;
    min-height: 800px;
    margin: auto;
    padding: 15px;
}

.content > .chart {
    margin: auto;
}

.peekaboo {
    padding-top: 15px;
    color: grey;
}
