<!doctype html>
<html>
    <head>
        <title>Therame</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <div class="header">
            <div class="title-text">
                <h1>Therame</h1>
            </div>
        </div>
        <div class="content">
            <h2>Your Summary</h2>
            {% block content %}{% endblock %}
        </div>
        <p class="peekaboo">peekaboo</p>
    </body>
</html>
